CompileFlags:
  Add:
    - --gcc-toolchain=D:/Scoop/apps/gcc/current
    - -ID:/Scoop/apps/gcc/current/include/c++/13.2.0/x86_64-w64-mingw32
    - -ID:/Scoop/apps/gcc/current/include/c++/13.2.0
    - -ID:/Scoop/apps/gcc/current/include
    - -std=c++14
    - fgnu89-inline
    - -D__MINGW32__

Remove:
  - -stdlib=libc++
